<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/style.css">
<script src="/app.js"></script>
</head>
<body class="css-selector">
    <img src="/img/img1.jpg">
    <p class="message">
        This website provides you weather information based on your location search!!
     </p>
</body>
</html>