<!DOCTYPE html>
<html>
<head>
  
<link rel="stylesheet" href="/css/style.css">
</head>

<body class="css-selector">
    <h1>Weather</h1>
    <div class="css-selector">
    
        <p>Weather will be shown here</p>
        <form action="/weather" method="GET">
            <input placeholder="Location">
            <button type="submit"> Search</button>
        </form>
        <div class="message"> <p id="message-2"></p> </div> 
        <div class="message"> <p id="message-1"></p> </div> 
       
        </div>
     
        <script src="/js/server.js">

        </script>
</body>
</html>